body{
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 94px;
  }
  .full{
    width: 0 auto;
  }
  
  .wrap{
    max-width: 1420px;
    margin: 0 auto;
  }
  
  .hide{ /* 안보이게 */
    display: none !important;
  }
  
  .padding25{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .padding50{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .padding100{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .paddingT50{
    padding-top: 50px;
  }
  
  .paddingT100{
    padding-top: 100px;
  }
  
  .paddingB50{
    padding-bottom: 50px;
  }
  
  .paddingB100{
    padding-bottom: 100px;
  }

  .flex{
    display: flex;
  }
  
  .text-center{
    text-align: center;
  }
  
  .h1{
    font-size: 55px;
  }
  
  .h2{
    font-size: 45px;
  }
  
  .h3{
    font-size: 35px;
  }
  
  .h4{
    font-size: 25px;
  }
  
  .h5{
    font-size: 20px;
  }
  
  .p{
    font-size: 14px;
  }
  
  .block{
    display: block;
  }
  .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #portfolio {
    border-top: 1px solid;
  }

  #portfolio p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 0;
  }